<!DOCTYPE html>
<html>
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="vendors/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="vendors/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="vendors/images/favicon-16x16.png">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="vendors/styles/core.css">
	<link rel="stylesheet" type="text/css" href="vendors/styles/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="vendors/styles/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css" id="theme-styles">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
</head>
<body class="login-page" ng-app="myApp" ng-controller="loginCtrl" data-ng-init="initView()">
	<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				<a href="login.html">
					<img src="vendors/images/deskapp-logo.svg" alt="">
				</a>
			</div>
			
		</div>
	</div>
	<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-lg-7">
					<img src="vendors/images/login-page-img.png" alt="">
				</div>
				<div class="col-md-6 col-lg-5">
					<div class="login-box bg-white box-shadow border-radius-10">
						<div class="login-title">
							<h2 class="text-center text-primary">Bienvenido, Offimarket S.A</h2>
						</div>
						<form>
							<div class="select-role">
								<div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                    <label class="btn active" ng-click="setIsLoginView(false)">
										<input type="radio" name="options" id="user" checked>
										<div class="icon"><img src="vendors/images/person.svg" class="svg" alt=""></div>
										<span>Login</span>
										Colaborador
									</label>
									<label class="btn " ng-click="setIsLoginView(true)">
										<input type="radio" name="options" id="search">
										<div class="icon"><img src="vendors/images/briefcase.svg" class="svg" alt=""></div>
										<span>Buscar</span>
										Ayuda
									</label>
									
								</div>
							</div>
                                                    <div id="login-frm" ng-show="is_login">
							<div class="input-group custom">
								<input type="email" class="form-control
                                                                      form-control-lg" ng-model="logindata.user" placeholder="Email">
								<div class="input-group-append custom">
									<span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
								</div>
							</div>
							<div class="input-group custom">
								<input type="password" class="form-control form-control-lg" ng-model="logindata.psw"  placeholder="**********">
								<div class="input-group-append custom">
									<span class="input-group-text"><i class="dw dw-padlock1"></i></span>
								</div>
							</div>
							
							<div class="row pb-30">
							
								<div class="col-12">
									<div class="forgot-password"><a href="forgot-password.html">Olvidaste tu password?</a></div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="input-group mb-0">
										<button class="btn btn-primary btn-lg btn-block" ng-click="loginAuth()" >Continuar</button>
									</div>
								
								</div>
							</div></div>
                                                </form>
                                                    
                                                     <div id="search-frm" ng-hide="is_login">
                                                         <form action="ayuda.html">
                                                            
							<div class="input-group custom">
								<input type="text" class="form-control
                                                                      form-control-lg" placeholder="Buscar">
								<div class="input-group-append custom">
									<span class="input-group-text"><i class="icon-copy dw dw-search"></i></span>
								</div>
							</div>
							<div class="row pb-30">
							
								<div class="col-12">
									<div class="forgot-password">
                                                                            <a href="#"
                                                                               data-toggle="modal" data-target="#success-modal" data-backdrop="static"
                                                                               >Que es el centro ayuda?</a></div>
								</div>
							</div>
							
							
							<div class="row">
								<div class="col-sm-12">
									<div class="input-group mb-0">
                                                                            <button class="btn btn-primary btn-lg btn-block" type="submit" >BUSCAR</button>
									</div>
								
								</div>
							</div>
                                                    </form>
                                                     </div> 
                                            
                                            
	<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered max-width-400" role="document">
			<div class="modal-content">
				<div class="modal-body text-center font-18">
					<h3 class="mb-20">Centro Ayuda!</h3>
					<div class="mb-30 text-center"><img src="vendors/images/success.png"></div>
				   Hemos creado un lugar donde puedes encontrar material de ayuda
                                                                 para poder resolver las preguntas para 
                                                                 el uso de la plataforma, si no encuentras lo que necesitas puedes comunicarte al departamento tecnico.
                                                             
                                </div>
				<div class="modal-footer justify-content-center">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Listo</button>
				</div>
			</div>
		</div>
	</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- js -->
	<script src="vendors/scripts/core.js"></script>
	<script src="vendors/scripts/script.min.js"></script>
	<script src="vendors/scripts/process.js"></script>
	<script src="vendors/scripts/layout-settings.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="vendors/scripts/angular-md5.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
        <script src="src/scripts/controlers/LoginController.js"></script>
	<script src="src/scripts/services/MyService.js"></script>
</body>
</html>