<div class="left-side-bar">
    <div class="brand-logo">
        <a href="home.html">
        
            <img src="vendors/images/deskapp-logo-white.png" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">

                    <a href="home.html" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-house-1"></span><span class="mtext">Home</span>
                    </a>
                     <a href="home.html" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-help"></span><span class="mtext">Centro de Ayuda</span>
                    </a>

                   
                </li>
                 <li ng-show="renderdata.is_admin=='true'">
                    <a href="crear-boletas.html" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-invoice"></span><span class="mtext">Generar Boletas</span>
                    </a>
                </li>
                 <li ng-show="renderdata.is_admin=='true'">
                    <a href="register.html" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-apartment"></span><span class="mtext">Registrar Colaborador</span>
                    </a>
                </li>
            
            </ul>
        </div>
    </div>
</div>
